.container{
    background-color: gray; 
    border: 2px;
}
#game-header, #score{
    /* width: 60%; */
    color: white;
    font-weight: 100;
    background-color: blue;
    border: 1px black;
    text-align: center;
    margin: 10px, 0px, 0px, 0px;
}

#question, #answer-1, #answer-2, #answer-3, #answer-4{
    color: green;
    font-size: 1.5em;
    font-weight: bold;
    background-color: beige;
    border: 1px black;
    padding: 15px;
}

#answer-1:hover, #answer-2:hover, #answer-3:hover, #answer-4:hover{
    background-color: lightskyblue;
} 

.row1, #category1, #category2, #category3, #category4{
    color: white;
    font-weight: bold;
    background-color: blue;
    border: 1px black;
    text-align: center;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}

#random-number-box{
    /* width: 60%; */
    height: 200px;
    font-weight: 100;
    background-color: rgb(10, 153, 10);
    border: 1px black;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
}

#wins-losses-box{
    /* width: 300px; */
    height: 200px;
    font-weight: 100;
    background-color: rgb(85, 107, 179);
    border: 1px black;
    padding: 20px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
}

#first-crystal{
    /* width: 10%; */
    height: 200px;
    /* width: 30px; */
    border: 1px black;
    background-color: white;
    margin: 0px 0px 20px -20px;
    border: 1px black;
}

#second-crystal{
    /* width: 10%; */
    height: 200px;
    /* width: 60px; */
    border: 1px black;
    background-color: white;
    margin: 0px 0px 20px 0px;
    border: 1px black;
}

#third-crystal{
    /* width: 10%; */
    height: 200px;
    /* width: 80px; */
    border: 1px black;
    background-color: white;
    margin: 0px 0px 20px 10px;
    border: 2px black;
}

#fourth-crystal{
    /* width: 10%; */
    height: 200px;
    width: 80px;
    border: 1px black;
    background-color: white;
    margin: 0px 0px 20px 25px;
    border: 1px black;
}
#total-score-text{
    /* width: 60%; */
    color: white;
    font-weight: 100;
    background-color: green;
    border: 1px black;
    margin: 10px 0px 0px 0px;
}

#your-total-score{
    /* width: 60%; */
    height: 200px;
    font-weight: 100;
    background-color: rgb(10, 153, 10);
    border: 1px black;
    margin: 0px 0px 5px 0px;
}

#win-loss-announcement{
    /* width: 60%; */
    color: white;
    height: 200px;
    font-weight: 100;
    background-color: green;
    text-align: center;
    border: 1px black;
    margin: 10px 0px 0px 0px;
}