.container{
    background-color: gray; 
    border: 2px;
}
#game-header, #score, #timekeeper, #question-header{
    /* width: 60%; */
    color: white;
    font-weight: 100;
    background-color: blue;
    border: 1px black;
    text-align: center;
    margin: 10px, 0px, 0px, 0px;
}

#timekeeper{
    color: orange;
}

#question, #answer-1, #answer-2, #answer-3, #answer-4{
    /* color: green; */
    font-size: 1.5em;
    font-weight: bold;
    background-color: beige;
    border: 1px black;
    padding: 15px;
}

#answer-1:hover, #answer-2:hover, #answer-3:hover, #answer-4:hover{
    background-color: lightskyblue;
} 

.boxStyle, #category1, #category2, #category3, #category4{
    color: white;
    font-weight: bold;
    background-color: blue;
    border: 1px black;
    text-align: center;
    padding: 10px;
    margin: 20px 0px 20px 0px;
}